main.py
file.py
dist/shippinboapi-0.0.1-py3-none-any.whl
dist/shippinboapi-0.0.1.tar.gz
dist/*
tests/*
pyproject.toml
src/shippingboapy/config.toml
src/config.toml
src\config.toml
setup.py
__pycache__/*
shippingboapy.egg-info/*
*.pyc
shippingboapy/__pycache__/*
