venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.pytest_cache/
.vscode/
shippingbo_apy.egg-info/dependency_links.txt
shippingbo_apy.egg-info/top_level.txt
shippingbo_apy.egg-info/requires.txt
shippingbo_apy.egg-info/SOURCES.txt
shippingbo_apy.egg-info/PKG-INFO
dist/shippingboapy-0.1.0-py3-none-any.whl
dist/shippingboapy-0.1.0.tar.gz
shippingboapy.egg-info/dependency_links.txt
shippingboapy.egg-info/PKG-INFO
shippingboapy.egg-info/requires.txt
shippingboapy.egg-info/SOURCES.txt
shippingboapy.egg-info/top_level.txt
dist/shippingboapy-0.1.1-py3-none-any.whl
dist/shippingboapy-0.1.1.tar.gz
